 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
               <ul class="nav navbar-nav side-nav">
                    
                    <li>
                        <a ui-sref='app.consultantarea.customer'> Meine Kunden</a>
                    </li>
					<li>
                        <a ui-sref='app.consultantarea.notes'> Meine Notizen</a>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#scribble"> Scribble <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="scribble" class="collapse">
                            <li>
                                <a ui-sref='mediadata.consultant.consultant_newscribble'>Neues Scribble</a>
                            </li>
                            <li>
                                <a ui-sref='app.consultantarea.scribbles'>Gespeicherte Scribble</a>
                            </li>
                        </ul>
                    </li>
                </ul>