 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
               <ul class="nav navbar-nav side-nav">
                    
                    <li>
						<a href="javascript:;" data-toggle="collapse" data-target="#customer"> Customer <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="customer" class="collapse">
                            <li>
                                <a ui-sref='app.consultantarea.customer'>Customer List</a>
                            </li>
                            <li>
                                <a ui-sref='app.consultantarea.customer_new'>New Customer</a>
                            </li>
                        </ul>
                    </li>
					<li>
					<a href="javascript:;" data-toggle="collapse" data-target="#notes"> Notes<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="notes" class="collapse">
                            <li>
                                <a ui-sref='app.consultantarea.notes'>Notes</a>
                            </li>
                            <li>
                                <a ui-sref='app.consultantarea.notes_new'>New Note</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#scribble"> Scribble <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="scribble" class="collapse">
                            <li>
                                <a ui-sref='app.consultantarea.consultant_newscribble'>New Scribble</a>
                            </li>
                            <li>
                                <a ui-sref='app.consultantarea.scribbles'>Saved Scribbles</a>
                            </li>
                        </ul>
                    </li>
                </ul>