 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
                <ul class="nav navbar-nav side-nav">
                   
					<li ng-repeat="product in products">
                        <a href="javascript:;" data-toggle="collapse" data-target="#{{product.id}}"> {{product.name}} <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="{{product.id}}" class="collapse">
							<div ng-controller="DocumentsController">
                            <li class="list-sidebar" ng-repeat="document in documents">
                                <a ui-sref='{{document.id}}'class="a-sidebar">{{document.name}}</a>
                            </li>
							</div>

                        </ul>
                    </li>
					
					
                    <!--
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#daily"> Daily Newspapers <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="daily" class="collapse">
                            <li>
                                <a href="#">Distribution Area</a>
                            </li>
                            <li>
                                <a href="#">Placements and special formats</a>
                            </li>
							<li>
                                <a href="#">prices complete edition</a>
                            </li>
							<li>
                                <a href="#">local prices</a>
                            </li>
                        </ul>
                    </li>
					
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#weekly"> Weekly Newspapers <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="weekly" class="collapse">
                            <li>
                                <a href="#">New Week</a>
                            </li>
                            <li>
                                <a href="#">7 Days</a>
                            </li>
							<li>
                                <a href="#">Another one</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#sonder"> Special Publications <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="sonder" class="collapse">
                            <li>
                                <a href="#">Motorcycle</a>
                            </li>  
                        </ul>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#online"> online <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="online" class="collapse">
                            <li>
                                <a href="#">newspaper.de</a>
                            </li>
                           
                        </ul>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#general">General Information <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="general" class="collapse">
                            <li>
                                <a ui-sref='mediadata.gentech'>Technical Information</a>
                            </li>
							<li>
                                <a href="lists.html">Distribution Area</a>
                            </li>
                           
                        </ul>
                    </li>
					-->
                </ul>