
			<!-- horizontal menu -->
			
                            <ul class="nav navbar-nav">
                                <li ><a ui-sref='app.mediadata'>Media Data</a>
                                </li>
                                <li><a ui-sref='mediadata.consultant'>Consultant Area</a>
                                </li>
                                <li><a href="pricecalc.html">Calculator</a>
                                </li>
                            </ul>
							<!-- Top Menu Items right -->
            <ul class="nav navbar-right top-nav">
				<li ng-if="isAdmin"><a href="admin.html">Administration</a>
                                </li>
                <li class="dropdown">
                    <p class="dropdown-toggle header-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} <b class="caret"></b></p>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
			