 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Mediadata <small>Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div  ng-repeat="object in objects">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <div class="huge">{{object.object_name}}</div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="panel-footer">
									
										<!--<div  ng-repeat="object in objects">-->
										
										<a href="#">
												<span class="pull-left">{{object.id}}</span>
												<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
												<div class="clearfix"></div>
										</a>
										<!-- </div> -->
							
                                </div>
                            
                        </div>
                    </div>
					</div>
					<!--
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <div class="huge">Weekly Newspapers</div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="panel-footer">
									<a href="#" class="a-red">
										<span class="pull-left">New Week</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									 </a>
									 <a href="#" class="a-red">
										<span class="pull-left">7 Days</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									 </a>
									 <a href="#" class="a-red">
										<span class="pull-left">Another one</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									 </a>
                                </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                           
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <div class="huge">Special Publishings</div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="panel-footer">
									<a href="#" class="a-yellow">
										<span class="pull-left">Motorcycle</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</a>
                                </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                           <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-left">
                                        <div class="huge">Online</div>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="panel-footer">
									<a href="#" class="a-green">
										<span class="pull-left">All Channels</span>
										<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
										<div class="clearfix"></div>
									</a>
                                </div>
                            
                        </div>
                    </div>
					-->
                </div>
				
                <!-- /.row -->