

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Calculator <small>{{title}} - Advertisements</small>
                        </h1> 
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-8 col-md-12">
						<form name="daily_adv_Form" ng-submit="calculate(calc)">
							  <div class="form-group">
								<label for="edition">Edition</label>
									<div class="checkbox" ng-repeat="publication in publications">
									<label>
									  <input type="checkbox" id="edition1" value="{{publication.id}}" ng-model="calc.publication.id"> {{publication.name}}
									</label>
									</div>
									
							  </div>
							  
							  <div class="form-group">
								<label for="special_format">Special Format</label>
									<select class="form-control" id="special_format">
										  <option ng-repeat="type in types" value="{{type.id}}" ng-model="calc.type">{{type.name}}</option>
										  
									</select>
							  </div>
							  
							  <div class="form-group">
								<label for="width">Width in columns</label></br>
								<div class="row">
								
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<select class="form-control" id="width">
										  <option  value="1" ng-model="calc.width">1</option>
										   <option  value="2" ng-model="calc.width">2</option>
										    <option  value="3" ng-model="calc.width">3</option>
											 <option  value="4" ng-model="calc.width">4</option>
											  <option  value="5" ng-model="calc.width">5</option>
											   <option  value="6" ng-model="calc.width">6</option>
											    <option  value="7" ng-model="calc.width">7</option>
										  
									</select>
								</div>
								
								<div class="col-xs-0 col-sm-5 col-md-5 col-lg-5">
								</div>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label for="width">Height:</label>
								<input type="text" class="form-control" id="height" placeholder="height" ng-model="calc.height">
							  </div>
							  
							  <div class="form-group">
								<label for="color">Color</label>
									<select class="form-control" id="color">
										  <option ng-repeat="color in colors" value="{{color.id}}" ng-model="calc.color">{{color.name}}</option>
										  
									</select>
							  </div>
							  
							  <div class="form-group">
								<label class="radio-inline" ng-repeat="pricetype in pricetypes">
								<input type="radio" name="pricelist" id="pricelist_normal" value="{{pricetype.id}}" ng-model="calc.pricetype"> {{pricetype.name}} pricelist
								</label>
								
								</div>
								<div class="form-group">
									<label for="days">Days of publication</label>
									<input type="text" class="form-control" id="days" placeholder="1" ng-model="calc.days">
								</div>
								<div class="form-group">
									<label for="discount">Discount</label>
									<input type="text" class="form-control" id="discount" placeholder="10 = 10%" ng-model="calc.discount">
								</div>
							  <button type="submit" class="btn btn-primary">Calculate</button>
						</form>
					</div>
					<!-- /.col-->
					<div class="row">
						<div class="col-lg-8 col-md-12">
						<div class="alert alert-info" role="alert" ng-if="total != 0">{{total}} Euro</div>
						</div>
					</div>
                </div>
                <!-- /.row -->

                

               
