<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Mediadata <small>Technical Information</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
						<div class="wrapper" ng-controller="DocCtrl">
							<ng-pdf template-url="views/viewer.html" canvasid="pdf" scale="1"></ng-pdf>
						</div>
					</div>
                </div>
                <!-- /.row -->
