<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Mediadata <small>{{title}}</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
						<div class="wrapper" id="filename_id" ng-controller="DocCtrl" ng-dblclick="handleFullscreen(filename_id)" fullscreen>
							<ng-pdf template-url="views/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
						</div>
					</div>
                </div>
                <!-- /.row -->
