 <div class="row">
                    <div class="col-lg-6">
                        <h1 class="page-header">
                            {{title}} <small>Overview</small>
                        </h1>
                    </div>
					
					
                </div>
                <!-- /.row -->

                <div class="row">
					
                    <div class="col-lg-3 col-md-6">
                        <ul class="list-group">
						  <li class="list-group-item" ng-repeat="scribble in scribbles"><a  ng-click="showDetail(scribble.name)">{{scribble.name}}</a>
								<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="deleteIt(scribble.name)" >
									<span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
								</button>
							</li>
						</ul>
                    </div>
					  
					<div class="col-lg-6 col-md-6" ng-if="showDetail == true">
						<div class="row">
						<script src="https://apis.google.com/js/platform.js" async defer></script>
							 <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sendMail(imageurl)">
							  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								</button>
							  <button class="g-plus" style="margin-top:5px" data-action="share" data-href="{{imageurl}}" data-height="24"></button>
						</div>
					
					
					<div class="row">
						
							<img src="{{imageurl}}" alt=".." class="img-rounded">
						
					</div>
					</div>
			
			</div>